@import '../../globalStyle.scss';

.customizeWrapper {
	display: flex;
}

.customizeProcedureWrapper {
	width: 65vw;
	margin: 30px;
	padding: 3vh;
	background-color: white;
	margin: 4vh 0px;
}

.customizeMainPanel {

	width: 80vw;
}

.customizeDefaultOuter {
		display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;
}

.customizeDefaultWrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 65vw;

	padding: 3vh;
	background-color: white;
	border-radius: 15px;

	h1 {
		margin: 10px;
		color: $mainColor;
	}

	h3 {
		margin: 10px;
	}

	p {
		color: $grayColor;
	}
}

.customizeToggleSelected {
	background-color: $mainLightColor;
	border-right: 4px solid $mainColor;

}

.customizeToggle {
	/* The switch - the box around the slider */
	display: flex;
	align-items: center;

	margin: 10px 0px;
	padding: 10px 10px;

	cursor: pointer;


	h4 {
		margin: 0px 20px;
	}

		.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
		}
	
		/* Hide default HTML checkbox */
		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}
	
		/* The slider */
		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ebebeb;
			-webkit-transition: .4s;
			transition: .4s;
		}
	
		.slider:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}
	
		input:checked+.slider {
			background-color:$mainColor;
		}
	
		input:focus+.slider {
			box-shadow: 0 0 1px $mainColor;
		}
	
		input:checked+.slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}
	
		/* Rounded sliders */
		.slider.round {
			border-radius: 34px;
		}
	
		.slider.round:before {
			border-radius: 50%;
		}
}

.chatgptTaskDesc {
	display: flex;
	align-items: center;
	height: 13vh;
	// border-bottom: 1px solid $mainColor;
}

.chatgptTaskDescTitle {
	border-right: 3px solid $mainLightColor;
	margin: 0px 1.3vw;
	padding-right: 0.7vw;
	color: $mainColor;
	width: 4vw;
}

.chatgptTaskDescInnerWrapper {
	height: 10vh;
	background-color: white;
	display: flex;
	align-items: center;
	margin: 0px 2vw;
	border-radius: 12px;
	flex-grow: 1;
}

.chatgptTaskDescContent {

	width: 50vw;

	h5 {
		margin: 0px;
	}

	p {
		margin: 0px;
		font-size: 0.9rem;
		color: $grayColor;
	}
}

.inputDialogueWrapper {
	margin: 0vh wvw;
	padding: 1vh 1vw;
	background-color: white;

	margin: 20px 2vw;


	.inputDialogueTitleWrapper {
		display: flex;
		justify-content: space-between;
		
		margin: 5px 0px;
		padding: 15px 0px;
		margin-bottom: 15px;
		border-bottom: 1px solid $mainLightColor;
		
		h3 {
			margin: 0px 20px;
			color: $mainColor;
		}

		button {
			background-color: $mainColor;
			color: white;
			border: none;
			padding: 5px 10px;
			cursor: pointer;
			width: 140px;
			font-size: 1.1rem;
			margin: 0px 20px;
		}

	}

	.inputDialogueInnerWrapperGrid {
		margin-left: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.inputDialogueElementWrapperEnd {
		min-width: 100%;
	}


}


.inputDialogueRadioWrapper {
	display: flex;

	.inputDialogueRadioInnerWrapper {
		display: flex;
		align-items: center;
		margin: 0px 12px;
	}
}

.circleButton {
	width: 25px;
	height: 25px;
	background-color: #ebebeb;
	color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.circleButtonSelected {
	width: 25px;
	height: 25px;
	background-color: $mainColor;
	color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: $bold;
}

.circleButtonText {
	margin: 0px 5px;
	font-size: 1.05rem;
}


.inputDialogueInnerWrapperFlex {
	margin-left: 20px;
	display: flex;

	h2 {
		margin: 0px;
		margin-right: 20px;
		color: $mainColor;
		margin-bottom: 10px;
		font-size: 1.3rem;
	}

	.inputDialogueSubInnerWrapperFlex {
		display: flex;
		// newline when overflow
		flex-wrap: wrap;

	}
}

.inputDialogueRadioUnderlineWrapper {
	width: 100%;
	margin: 6px;
	border-bottom: 1px solid $grayColor;
	padding: 0px;
}

.inputDialogueMultiSelectRadioInnerWrapper {
	display: flex;
	align-items: center;
	margin: 0px 12px;
}

.inputDialogueMultiSelectRadioWrapper {
	display: flex;
	flex-wrap: wrap;
}

.inputDialogueMultiSelectRadioInnerWrapper {
	padding-right: 25px;
	padding-bottom: 30px;
}

.inputDialogueCheckboxWrapper {
	display: flex;
	margin-bottom: 30px;
	align-items: center;

	h4 {
		margin: 0px;
		color: $mainColor;
		font-size: 1.3rem;
		margin-right: 20px;
	}
}

.customizeToggleSummary {
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-bottom: 20px;

	span {
		margin-right: 10px;
		padding: 3px 7px;
		border: 1px solid $mainColor;
		color: $mainColor;
		border-radius: 15px;
		margin-bottom: 5px;
		font-size: 1.0rem;
	}
	
}