@import '../../globalStyle.scss';


.introWrapper {
	padding-top: 8vh;
	display: flex;
	flex-direction: column;
	/* Stack the children vertically */
	justify-content: space-between;
	height: 78vh;
	color: white;
	text-align: center;
}

.titleWrapper {
	display: grid;
	align-items: center;
	justify-content: center;


}

.contactWrapper {
	display: grid;
	align-items: center;
	justify-content: center;


	p {
		margin: 0px;
	}


.buttonWrapper {
		button {
			margin-top: 30px;
			cursor: pointer;
		}

		button:hover {
			font-weight: $bold;
		}

	}	
}

